#ramazon{
    .container {
        background: linear-gradient(#EBEDFF 50%, #ffffff 50%);
    }
    h1{
        width: 50%;
        padding: 40px 0;
        margin: 0 auto;
    }
    
}
.kart{
    width:60%;
    padding: 20px;
    padding-top: 0;
    border: 1px solid pink;
    border-radius: 10px;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            svg{
                color: blue !important;
            }
        }
    }
    h1{
       text-align: left !important; 
    }
}
@media screen and (max-width:1200px) and (min-width:992px) {
    #ramazon{h1{
        width:70%;
    }}
    .kart{
        width: 70%;
    }
    
}
.but1{
    padding: 10px;
    border-radius: 5px;
}
@media screen and (max-width:991px) and (min-width:768px) {
    #ramazon{h1{
        width:80%;
    }}
    .kart{
        width: 80%;
    }
    
}
@media screen and (max-width:767px)  {
    .kart{
        width: 70%;
        
    }
    #ramazon{h1{
        width:90%;
    }}
    .col1{
        display: flex;
        justify-content: center !important;
        &:last-child{
            margin-top: -20px !important;
        

        }    }    
}
